<mat-card-content>
  <div class="login-container">
    <h2 class="mat-h2">User Login</h2>
    <form [formGroup]="formGroup" class="login-form">
      <mat-form-field>
        <input
          id="email"
          type="text"
          class="email-input"
          formControlName="email"
          matInput
          placeholder="Email"
          required
        />

        <mat-error *ngIf="required('email')" class="error">
          <div>
            Email required!
          </div>
        </mat-error>

        <mat-error *ngIf="isEmailInvalid()" class="error">
          <div>
            Must be a valid email address
          </div>
        </mat-error>

        <mat-error *ngIf="isLoginErrorShown$ | async" class="error">
          <div>
            Wrong email or password!
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          class="password-input"
          formControlName="password"
          matInput
          placeholder="Password"
          required
          minlength="8"
        />

        <mat-error *ngIf="required('password')" class="error">
          <div>
            Password required!
          </div>
        </mat-error>

        <mat-error *ngIf="isLoginErrorShown$ | async" class="error">
          <div>
            Wrong email or password!
          </div>
        </mat-error>
      </mat-form-field>

      <div mat-dialog-actions class="actions">
        <button type="submit" class="login-btn" mat-raised-button (click)="submitLoginForm()">
          Login
        </button>

        <span>
          Not a member? <a class="register-link" [routerLink]="['/register']">Register now</a>
        </span>
      </div>
    </form>
  </div>
</mat-card-content>
